@charset "UTF-8";

html {
box-sizing: border-box;
}
*{box-sizing: inherit;
}



body{
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0;
}

a{
    text-decoration: none;
    color: #535151;
}

a:hover{
    text-decoration: underline;
    color: black;
}

.save a, .log a{
top: 3px;}

svg{
    width: 1100px; 
    height: 400px;
    text-align: center;
    margin-left: 5em;
    margin-top: 1em;
    z-index: 100;
}

img[src*= "icons/mimi.jpg"]{
    width: 300px; 
    height: 300px;
    z-index: 5;
    position: absolute;
    top: 150px;
    right: 700px;
}

main{
    float: right;
}

.log a{
        width: 6em;
        margin: 1em 5px 5px 0;
        padding: .5em 1em;
        text-decoration: none;
        text-align: center;
        letter-spacing: .1em;
        color: white;
        background-color: #8030D0;
        border-radius: 6px;
        position: relative;
        top: 0px;
        }
        
.save{        
        width: 6em;
        margin: 0 5px 5px 0;
        padding: .5em 1em;
        text-decoration: none;
        text-align: center;
        letter-spacing: .1em;
        color: white;
        background-color: #8030D0;
        border-radius: 6px;
        position: relative;
        top: 0px;
        }
        

nav{
    border: 5px solid #DEBCEE;
    background-color: #DEBCEE;
}

nav ul{
    display: flex;
    list-style-type: none;
}

/*nav ul li{
    border: 1px solid #535151;
    padding: 4px 3px -5px 3px;
    border-radius: 6px;
}*/

li{

    margin: 0 1em;
}

li.logo{
    margin-right: 45em;
}

p{
    text-align: center;
}

form ul{
    margin-left: 20em;
    list-style-type: none;
}

form ul li{
    margin-bottom: 3em;
}

input{
    border-radius: 6px;
    border-color: #414157;
    width: 40em;
    height: 3em;
}

form .save{
    border-radius: 6px;
    border-color: #414157;
    width: 6em;
    margin-top: -6em;
    margin-left: 50em;
    height: 3em;
    padding: 3px;
    font-size: 15px;
}

footer ul{
    list-style-type: none;
    margin-left: 20em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer ul li{
    display: block;
    background-color: #DEBCEE;
    padding: 0 10em;
    margin-left: -30em;
}

footer p{
    text-align: left;
}

footer ul li{
    display: block;
    margin-bottom: 1.5em;
}

article{
    margin: 3em 0 2em 0;
    display: none;
}

section{
    display: none;
}

@media screen and (max-width: 320px){

html {
box-sizing: border-box;
}
*{box-sizing: inherit;
}

body{
    font-size: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: -1em;
}

a{
    text-decoration: none;
    color: #535151;
}

a:hover{
    text-decoration: underline;
    color: black;
}

nav{
    border: 1px solid white;
    background-color: #DEBCEE;
    text-align: center;
}

nav ul{
    display: list-item;
    list-style-type: none;
}

li{

    margin: 0 1em;
}

li.logo{
    margin-right: 15em;
}

svg{
    width: 1100px; 
    height: 400px;
    text-align: center;
    margin-left: 5em;
    margin-top: 1em;
    z-index: 100;
}

img[src*= "icons/mimi.jpg"]{
    width: 50px; 
    height: 50px;
    z-index: 5;
    position: absolute;
    top: 150px;
    right: 700px;
}

main{
    float: right;
}

form ul{
    margin-left: -3em;
    list-style-type: none;
}

p{
    margin-left: 5px;
}

.save{
    margin-left: -13em;
    margin-top: -1em;
}

input{
    border-radius: 6px;
    border-color: #414157;
    width: 21em;
    height: 3em;
}

footer p{
    display: none;
}

footer ul li{
    display: block;
    background-color: #DEBCEE;
    padding: 0 10em;
    margin-left: 1px;
}

section{
    display: block;
    padding: 3px 5px;
    background-color: #DEBCEE;
}

section article{
    display: block;
    margin: 3em 0 2em 0;
}

table, section p{
    display: block;
}

td{
    padding: 0;
}

table{
    margin-left: -3px;
    border-spacing: 25px 20px;
}



li{

    margin: 0 1em;
}

li.logo{
    margin: 0 1em 0 -3px;
}

}


@media screen and (max-width: 375px){

    html {
    box-sizing: border-box;
    }
    *{box-sizing: inherit;
    }
    
    body{
        font-size: 1em;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin-top: -1em;
    }

    nav{
        text-align: center;
        border: 1px solid white;
        background-color: #DEBCEE;
    }
    
    nav ul{
        display: list-item;
        list-style-type: none;
    }
    
    svg{
        width: 350px; 
        height: 90px;
        margin-left: 2px;
        margin-top: 1em;
        z-index: 100;
    }
    
    img[src*= "icons/mimi.jpg"]{
        width: 90px; 
        height: 90px;
        z-index: 5;
        position: absolute;
        top: 150px;
        right: 700px;
    }
    
    form ul{
        margin-left: -3em;
        list-style-type: none;
    }
    
    input{
        border-radius: 6px;
        border-color: #414157;
        width: 21em;
        height: 3em;
    }
    
    footer p{
        display: none;
    }
    
    footer ul li{
        display: block;
        background-color: #DEBCEE;
        padding: 0 10em;
        margin-left: 1px;
    }
    
    section{
        display: block;
        padding: 3px 5px;
        background-color: #DEBCEE;
    }
    
    section article{
        display: block;
        margin: 3em 0 2em 0;
    }
    
    table, section p{
        display: block;
    }
    
    td{
        padding: 0;
    }
    
    table{
        margin-left: -3px;
        border-spacing: 25px 20px;
    }
    
    
    li{
    
        margin: 0 1em;
    }
    
    li.logo{
        margin: 0 1em 0 -3px;
    }
    
    }


    @media screen and (max-width: 425px){

        html {
        box-sizing: border-box;
        }
        *{box-sizing: inherit;
        }
        
        body{
            font-size: 1em;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            margin-top: -1em;
        }

        nav{
            text-align: center;
            border: 1px solid white;
            background-color: #DEBCEE;
        }
        
        nav ul{
            display: list-item;
            list-style-type: none;
        }
        
        svg{
            width: 450px; 
            height: 90px;
            margin-left: 2px;
            margin-top: 1em;
            z-index: 100;
        }
        
        img[src*= "icons/mimi.jpg"]{
            width: 90px; 
            height: 90px;
            z-index: 5;
            position: absolute;
            top: 150px;
            right: 700px;
        }
        
        form ul{
            margin-left: -3em;
            list-style-type: none;
        }
        
        input{
            border-radius: 6px;
            border-color: #414157;
            width: 21em;
            height: 3em;
        }
        
        footer p{
            display: none;
        }
        
        footer ul li{
            display: block;
            background-color: #DEBCEE;
            padding: 0 10em;
            margin-left: 1px;
        }
        
        section{
            display: block;
            padding: 3px 5px;
            background-color: #DEBCEE;
        }
        
        section article{
            display: block;
            margin: 3em 0 2em 0;
        }
        
        table, section p{
            display: block;
        }
        
        td{
            padding: 0;
        }
        
        table{
            margin-left: -3px;
            border-spacing: 25px 20px;
        }
        
        
        li{
        
            margin: 0 1em;
        }
        
        li.logo{
            margin: 0 1em 0 -3px;
        }
        
        }